* {
  font-family:sans-serif;
  box-sizing: border-box;
}
:root{
  /* COLORS */
   --PRIMARY : #BF9B30;
  --GREEN : #34A853;
  --GREY : #D0D0D0;
  --BLACK : #1A1919;
  /* font family */
  --FONT_FAMILY :sans-serif;
}